<section id="greenmembers" class="container">
  <h1>All Virginia Green Members</h1>

  {{#each greenmembers}}
  <div class="greenmembers">
    <h3>{{Facility}}</h3>
    <p>{{Type}}</p>
    <ul>
      <li>Address: {{Address}}</li>
      <li> {{City}} , {{State}} {{ZIP}} </li>
      
    </ul>
  </div>
  {{else}}
  <p>No members available</p>
  {{/each}}

</section>